
:root {

    /**
     * colors
     */
  
    --rich-black-fogra-29_95: hsla(222, 18%, 11%, 0.95);
    --raisin-black-1: hsl(0, 0%, 16%);
    --raisin-black-2: hsl(236, 17%, 17%);
    --raisin-black-3: hsl(280, 11%, 11%);
    --raisin-black-4: hsl(280, 8%, 15%);
    --english-violet: hsl(274, 21%, 23%);
    --eerie-black-1: hsl(277, 25%, 10%);
    --eerie-black-2: hsl(280, 7%, 8%);
    --roman-silver: hsl(220, 6%, 59%);
    --quick-silver: hsl(0, 1%, 65%);
    --light-gray-1: hsl(0, 0%, 80%);
    --light-gray-2: hsl(0, 2%, 82%);
    --marigold_75: hsla(42, 99%, 46%, 0.75);
    --xiketic_90: hsla(280, 37%, 8%, 0.9);
    --cultured-2: hsl(0, 0%, 97%);
    --marigold: hsl(42, 99%, 46%);
    --platinum: hsl(0, 0%, 89%);
    --dim-gray: hsl(0, 0%, 42%);
    --white_15: hsla(0, 0%, 100%, 0.15);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --xiketic: hsl(277, 25%, 10%);
    --silver: hsl(0, 0%, 78%);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(236, 13%, 23%);
  
    /**
     * typography
     */
  
    --ff-oxanium: 'Oxanium', cursive;
    --ff-poppins: 'Poppins', sans-serif;
  
    --fs-1: 7rem;
    --fs-2: 4.5rem;
    --fs-3: 3.6rem;
    --fs-4: 2.4rem;
    --fs-5: 2.2rem;
    --fs-6: 2rem;
    --fs-7: 1.6rem;
    --fs-8: 1.5rem;
    --fs-9: 1.4rem;
    --fs-10: 1.3rem;
    --fs-11: 1.2rem;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
  
    /**
     * spacing
     */
  
    --section-padding: 120px;
  
    /**
     * gradient
     */
  
    --gradient: radial-gradient(circle, hsl(250, 7%, 17%), hsl(250, 11%, 11%));
  
    /**
     * box shadow
     */
  
    --shadow-1: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
                inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
    --shadow-2: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.4);
    --shadow-3: 0px 5px 10px 1px hsla(219, 98%, 17%, 0.2);
    --shadow-4: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);
  
    /**
     * transition
     */
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }
  
  

#h1{
    color: var(--white);
    font-family: var(--ff-oxanium);
    font-weight: var(--fw-800);
    line-height: 1;
    font-size: var(--fs-2);
    letter-spacing: -3px;

}


  .hero-banner { display: none; }

  .hero {
    --section-padding: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 100vh;
    display: grid;
    align-items: center;
    background-image: url("../../images/hero-bg.jpg");
  }
  
  .hero-subtitle {
    color: var(--marigold);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    text-transform: uppercase;
  }
  
  .hero-title { margin-block: 15px 12px; }
  
  .hero-text {
    color: var(--light-gray-2);
    margin-block-end: 45px !important;
    font-size: 2rem;
  }
  


  @media (min-width: 720px) {


    .hero-text {
      max-width: 60ch;
      margin-inline: auto;
    }
  
  
  

  }

  @media (min-width: 992px) {


  .hero { text-align: left; }

  .hero-banner { display: block; }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
    gap: 50px;
  }

  .btn { margin-inline: 0; }




  }









  /*
  .h1,
  .h2,
  .h3 {
    color: var(--white);
    font-family: var(--ff-oxanium);
    font-weight: var(--fw-800);
    line-height: 1;
  }
  
  .h1 {
    font-size: 4rem !important;
    letter-spacing: -3px !important;
    font-weight: 800 !important;
  }
  
  .h2 { font-size: var(--fs-3); }
  
  .h3 {
    font-size: var(--fs-6);
    text-transform: uppercase;
  }
  
  :is(.h1, .h2, .h3, .card-price) .span {
    display: inline-block;
    color: var(--marigold);
  }
  
  
  */




  
 /* 
  
  
  .hero-banner { display: none; }
  
  .hero {
    --section-padding: 60px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 100vh;
    display: grid;
    align-items: center;
    background-image: url("../../images/hero-bg.jpg");
  }
  
  .hero-subtitle {
    color: var(--marigold);
    font-size: var(--fs-6);
    font-weight: var(--fw-700);
    text-transform: uppercase;
  }
  
  .hero-title { margin-block: 15px 12px; 
               
                font-weight: 800;
                font-size: 4.5rem;
                letter-spacing: -3px;
               font-family:  'Oxanium', cursive;
               color: hsl(0, 0%, 100%) !important;
               font-family: var(--ff-oxanium);
               font-weight: 800;
               line-height: 1;
                }               
  
  .hero-text {
    color: hsl(0, 2%, 82%);
    margin-block-end: 45px;
  }
  
  
  
  */