.preloader {
  position: relative;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(250, 11%, 11%);
}

.load-text {
  color: #333333;
  font-size: 102px;
  font-weight: 900;
  background-image: linear-gradient(#333 50%, #cc2e5d 50%, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: loader 10s linear infinite;
}

.bar {
  display: block;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(to right, #333 50%, orange 50%, #ff5858);
  background-size: 200% 200%;
  animation: loader 10s linear infinite;
}

@keyframes loader {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: -100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
